{% extends "baseContenidos.html" %}
{% block titulo %} Bienvenido nuevo{% endblock %}
{% block contenedor %}
<div class="text-center flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm">
      <h2 class="text-2xl font-bold mb-2">¡Bienvenid@!</h2>
      <p class="text-pink-600 mb-4">Gracias por registrarte❤️</p>
      <p class="mb-6">Primero establezcamos tu tiempo de embarazo</p>
      <a href="/registro_semanas" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
        Siguiente
      </a>
    </div>
</div>
{% endblock %}