{% extends "baseContenidos.html" %}
{% block titulo %}
Historial medico
{% endblock %}

{% block contenedor %}
<div class="bg-yellow-100 dark:bg-zinc-800 p-8 rounded-lg shadow-md">
    <h1 class="uppercase tracking-wide text-sm text-indigo-500 font-semibold text-center mb-12" > Historial Medico </h1>
    <form class="shadow-md rounded px-8 pt-6 pb-8 mb-4 text-center" style="background-image: url('https://clinic-cloud.com/hubfs/Imported_Blog_Media/importancia-del-historial-medico-2.jpg');
                                                                                            background-size: cover;
                                                                                            background-repeat: no-repeat;" method="post">
        {% csrf_token %}
        <div class="bg-white p-5 rounded-xl bg-opacity-30 backdrop-filter backdrop-blur-lg text-center">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                ¿Tuvo hipertencion previamente?
            </label>
            {% for radio in form.hipertension_previa %}
            <label class="radio-inline" style="color: gray;">
                {{ radio.tag }} {{ radio.choice_label }}
            </label>
            {% endfor %}
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                ¿Tuvo preeclampsia en su ultimo embarazo?
            </label>
            {% for radio in form.hist_preeclampsia %}
            <label class="radio-inline" style="color: gray;">
                {{ radio.tag }} {{ radio.choice_label }}
            </label>
            {% endfor %}
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                ¿Tuvo diabetes previamente?
            </label>
            {% for radio in form.diabetes %}
            <label class="radio-inline" style="color: gray;">
                {{ radio.tag }} {{ radio.choice_label }}
            </label>
            {% endfor %}
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                ¿Sufre alguna enfermedad renal?
            </label>
            {% for radio in form.enfermed_renal %}
            <label class="radio-inline" style="color: gray;">
                {{ radio.tag }} {{ radio.choice_label }}
            </label>
            {% endfor %}
        </div>
        <div class="flex items-center justify-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-3 rounded focus:outline-none focus:shadow-outline">Registrar</button>
        </div>
        </div>
    </form>
</div>
{% endblock %}