{% extends "baseContenidos.html" %}
{% load markdownify %}
{% load filters %}
{% block titulo %} Ver formación del bebé {% endblock %}

{% block contenedor %}
<div class="container mx-auto px-4">
    {% for info in info_embarazo_list %}
    <div class="bg-white p-6 shadow-lg rounded-lg mb-6">
        <h1 class="text-2xl font-bold mb-4">Semana {{ info.semana }}</h1>
        <div class="flex flex-col lg:flex-row gap-4">
            <img src="{{ info.imagen.url }}" alt="Imagen de la semana {{ info.semana }}" class="mb-4 lg:mr-4" style="width: 400px; heigth: 200px">
            <div class="flex-1">
                {{ info.descripcion|convert_markdown|safe }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="py-2" style="display: flex; justify-content: center;">
    <nav aria-label="Page navigation">
        <ul class="inline-flex items-center -space-x-px">
            <li>
                <a href="?page=1" class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Primera</a>
            </li>
            {% if info_embarazo_list.has_previous %}
            <li>
                <a href="?page={{ info_embarazo_list.previous_page_number }}" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Anterior</a>
            </li>
            {% endif %}
            {% for num in info_embarazo_list.paginator.page_range %}
            {% if info_embarazo_list.number == num %}
            <li>
                <a href="?page={{ num }}" aria-current="page" class="py-2 px-3 leading-tight text-white bg-blue-600 border border-blue-600">{{ num }}</a>
            </li>
            {% elif num > info_embarazo_list.number|add:'-3' and num < info_embarazo_list.number|add:'3' %}
            <li>
                <a href="?page={{ num }}" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if info_embarazo_list.has_next %}
            <li>
                <a href="?page={{ info_embarazo_list.next_page_number }}" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Siguiente</a>
            </li>
            {% endif %}
            <li>
                <a href="?page={{ info_embarazo_list.paginator.num_pages }}" class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Última</a>
            </li>
        </ul>
    </nav>
</div>
<a href="{% url 'bienvenido' %}" style="display: center" class="bg-pink-300 text-white font-bold py-2 px-4 rounded-full mb-3 hover:bg-pink-400 inline-block" > Atras </a>

{% endblock %}

