{% extends "baseContenidos.html" %}
{% block titulo %}
Antecedentes familiares
{% endblock %}

{% block contenedor %}
<div class="flex flex-col items-center">
    <h1 class="uppercase tracking-wide text-sm text-indigo-500 font-semibold" > Datos embarazo actual </h1>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 white:bg-zinc-800" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <div class="flex items-center justify-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-3 rounded focus:outline-none focus:shadow-outline">Registrar</button>
        </div>
    </form>
</div>
{% endblock %}