{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %} | Bellyguard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="website icon" type="png" href="https://github.com/HieysonS/tprojetcsimgs/blob/main/bellyguard-icon.png?raw=true">
</head>
<body class="bg-gradient-to-b from-stone-50 via-sky-300 to-stone-900">
    <div class="max-w-full mx-auto px-4 py-8">
        <header class="flex justify-between items-center py-4">
            <a href="/" class="text-4xl font-bold text-black">BELLYGUARD</a>
            <nav>
                <ul class="flex space-x-4">
                    <li><a class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none block w-full mt-6" href={% url 'inicio' %}>Inicio</a></li>
                    <li><a class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none block w-full mt-6" href={% url 'mas_informacion' %}>Más Información</a></li>
                    <li><a class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none block w-full mt-6" href={% url 'contacto' %}>Contacto</a></li>
                    <li><a class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none block w-full mt-6" href={% url 'inicio' %}>Cancelar</a></li>
                </ul>
            </nav>
        </header>
        <div class="w-full flex items-center justify-center">
            {% block contenedor %} {% endblock %}
        </div>
    </div>
</body>
</html>
