{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %} {% endblock %} | Bellyguard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-300">
    <div class="max-w-full mx-auto px-4 py-8" style="background-image: url('https://img.freepik.com/fotos-premium/mujer-embarazada-parada-frente-fondo-colorido-flores_68880-2249.jpg');">
        <header class="flex justify-between items-center py-4">
            <a href="/" class="text-4xl font-bold text-black">BELLYGUARD</a>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href={% url 'bienvenido' %} class="bg-blue-400 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Inicio</a></li>
                    <li><a href={% url 'perfil' %} class="bg-red-200 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Atras</a></li>
                </ul>
            </nav>
        </header>
        <div class="w-full">
            {% block contenedor %} {% endblock %}
        </div>
    </div>
</body>
</html>