{% extends "baseB.html" %}

{% block titulo %}
Editar Perfil de Embarazo
{% endblock %}

{% block contenedor %}
<div class="flex flex-col items-center">
    <img src="https://w7.pngwing.com/pngs/275/343/png-transparent-baby-diaper-infant-cartoon-cartoon-baby-baby-cute-baby-child-cartoon-character-mammal-child-thumbnail.png" alt="Cute moon illustration" class="mb-4" style="width: 100px; height: 100px; object-fit: cover;">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Guardar Cambios</button>
    </form>
</div>
{% endblock %}


